<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wind.springdemo.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.wind.springdemo.model.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, password, gender, age
    </sql>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select *
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.wind.springdemo.model.User" useGeneratedKeys="true" keyProperty="id">
        insert into user (id, name,password, gender,
        age)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR},
        #{age,jdbcType=INTEGER})
    </insert>
    <update id="updateById" parameterType="com.wind.springdemo.model.User">
        update user
        set name = #{name,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR}
        gender = #{gender,jdbcType=VARCHAR},
        age = #{age,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="getAllEmployee" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
    </select>

    <insert id="correlationRoles">
        INSERT INTO user_role(user_id,role_id) VALUES (#{user_id},#{role_id})
    </insert>

    <insert id="uncorrelationRoles">
        DELETE FROM user_role WHERE user_id = #{user_id} AND role_id = #{role_id}
    </insert>

    <select id="findByUsername" resultMap="BaseResultMap">
        SELECT *
        FROM user
        WHERE name = #{name,jdbcType=VARCHAR}
    </select>
    <select id="findRoles" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT r.role
        FROM role r
        INNER JOIN user_role ur ON r.id = ur.role_id
        INNER JOIN `user` u ON u.id = ur.user_id
        WHERE	u.`name` = #{name,jdbcType=VARCHAR}
    </select>
    <select id="findPermissions" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT	p.permission
        FROM	permission p
        INNER JOIN role_permission rp ON p.id = rp.permission_id
        INNER JOIN user_role ur ON ur.role_id = rp.role_id
        INNER JOIN `user` u ON u.id = ur.user_id
        WHERE	u.`name` = #{name,jdbcType=VARCHAR}
    </select>
</mapper>